.animate-fade-in {
    animation: fade-in 0.8s cubic-bezier(.68,-0.55,.27,1.55) both;
}
@keyframes fade-in {
    0% { opacity: 0; transform: scale(0.95);}
    100% { opacity: 1; transform: scale(1);}
}